**Time series clustering:**

In [1]:
from sklearn.model_selection import train_test_split
from sktime.clustering.k_means import TimeSeriesKMeans
from sktime.clustering.utils.plotting._plot_partitions import plot_cluster_algorithm
from sktime.datasets import load_arrow_head

In [2]:
X, y = load_arrow_head()

In [3]:
X

                                                 dim_0
0    0     -1.963009
1     -1.957825
2     -1.95614...
1    0     -1.774571
1     -1.774036
2     -1.77658...
2    0     -1.866021
1     -1.841991
2     -1.83502...
3    0     -2.073758
1     -2.073301
2     -2.04460...
4    0     -1.746255
1     -1.741263
2     -1.72274...
..                                                 ...
206  0     -1.625142
1     -1.622988
2     -1.62606...
207  0     -1.657757
1     -1.664673
2     -1.63264...
208  0     -1.603279
1     -1.587365
2     -1.57740...
209  0     -1.739020
1     -1.741534
2     -1.73286...
210  0     -1.630727
1     -1.629918
2     -1.62055...

[211 rows x 1 columns]

In [4]:
X.shape

(211, 1)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y)