tsfresh returns a great number of features. Depending on the dynamics of the inspected time series - some of them may be highly correlated. A common technique to deal with highly correlated features are transformations such as PCA.

In [1]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [5]:
class PCAForPandas(PCA):
    """This class is just a small wrapper around the PCA estimator of sklearn including normalization to make it 
    compatible with pandas DataFrames.
    """

    def __init__(self, **kwargs):
        self._z_scaler = StandardScaler()
        super(self.__class__, self).__init__(**kwargs)

        self._X_columns = None

    def fit(self, X, y=None):
        """Normalize X and call the fit method of the base class with numpy arrays instead of pandas data frames."""

        X = self._prepare(X)

        self._z_scaler.fit(X.values, y)
        z_data = self._z_scaler.transform(X.values, y)

        return super(self.__class__, self).fit(z_data, y)

    def fit_transform(self, X, y=None):
        """Call the fit and the transform method of this class."""

        X = self._prepare(X)

        self.fit(X, y)
        return self.transform(X, y)

    def transform(self, X, y=None):
        """Normalize X and call the transform method of the base class with numpy arrays instead of pandas data frames."""

        X = self._prepare(X)

        z_data = self._z_scaler.transform(X.values, y)

        transformed_ndarray = super(self.__class__, self).transform(z_data)

        pandas_df = pd.DataFrame(transformed_ndarray)
        pandas_df.columns = ["pca_{}".format(i) for i in range(len(pandas_df.columns))]

        return pandas_df

    def _prepare(self, X):
        """Check if the data is a pandas DataFrame and sorts the column names.

        :raise AttributeError: if pandas is not a DataFrame or the columns of the new X is not compatible with the 
                               columns from the previous X data
        """
        if not isinstance(X, pd.DataFrame):
            raise AttributeError("X is not a pandas DataFrame")

        X.sort_index(axis=1, inplace=True)

        if self._X_columns is not None:
            if self._X_columns != list(X.columns):
                raise AttributeError("The columns of the new X is not compatible with the columns from the previous X data")
        else:
            self._X_columns = list(X.columns)

        return X

So what the above code does simply is to combine a standard scaler with pca transformer - ensuring the data is standardized before applying pca - all in one transformation

**Load robot failute example:**
- Split the data set in a train (1 <= id <= 87) and test set (87 <= id <= 88). It is assumed that the selection process is done in the past (train) and features for future test datasets should be determined.

In [6]:
from tsfresh.examples.robot_execution_failures import download_robot_execution_failures, load_robot_execution_failures
from tsfresh.feature_extraction import extract_features
from tsfresh.feature_selection import select_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters, MinimalFCParameters, settings

In [8]:
download_robot_execution_failures()

df, y = load_robot_execution_failures()

In [11]:
df_train = df.iloc[(df.id <= 87).values] 
y_train = y[0:-1]

df_test = df.iloc[(df.id >= 87).values]
y_test = y[-2:]

df.head()

   id  time  F_x  F_y  F_z  T_x  T_y  T_z
0   1     0   -1   -1   63   -3   -1    0
1   1     1    0    0   62   -3   -1    0
2   1     2   -1   -1   61   -3    0    0
3   1     3   -1   -1   63   -2   -1    0
4   1     4   -1   -1   63   -3   -1    0

**Train:**
- Extract train features:

In [12]:
X_train = extract_features(df_train, column_id = "id", column_sort="time", default_fc_parameters = MinimalFCParameters(),
                            impute_function=impute)

Feature Extraction: 100%|██████████| 38/38 [00:02<00:00, 16.81it/s]

In [13]:
X_train.head()

   F_x__sum_values  F_x__median  ...  T_z__absolute_maximum  T_z__minimum
1            -14.0         -1.0  ...                    0.0           0.0
2            -13.0         -1.0  ...                    1.0          -1.0
3            -10.0         -1.0  ...                    1.0          -1.0
4             -6.0          0.0  ...                    1.0          -1.0
5             -9.0         -1.0  ...                    1.0          -1.0

[5 rows x 60 columns]

Select the training features:

In [14]:
X_train_filtered = select_features(X_train, y_train)
X_train_filtered.tail()

    F_x__root_mean_square  ...  F_z__root_mean_square
83              19.733221  ...              89.640393
84              80.346334  ...             768.990897
85              10.592450  ...              31.710146
86              74.608757  ...             191.227613
87             306.097697  ...             964.497140

[5 rows x 36 columns]

**Principal Component Analysis on train features:**

In [15]:
pca_train = PCAForPandas(n_components = 4)
X_train_pca = pca_train.fit_transform(X_train_filtered)

In [17]:
X_train_pca

       pca_0     pca_1     pca_2     pca_3
0  -3.794150 -0.058952  0.111094 -0.483540
1  -3.657043 -0.018750  0.086160 -0.436398
2  -3.691986 -0.016013  0.096910 -0.458632
3  -3.628503  0.005231  0.081372 -0.447598
4  -3.652309  0.002591  0.080404 -0.455145
..       ...       ...       ...       ...
82 -2.037236 -0.525795  0.066420 -0.546658
83  5.078151 -3.366748  0.258651  0.941587
84 -3.065568 -0.129087 -0.255740 -0.398759
85  0.579472 -1.003404 -2.773311  1.490172
86  8.520847 -5.992067 -6.476718  0.886232

[87 rows x 4 columns]

In [18]:
# add index plus 1 to keep original index from robot example
X_train_pca.index += 1
X_train_pca.tail()

       pca_0     pca_1     pca_2     pca_3
83 -2.037236 -0.525795  0.066420 -0.546658
84  5.078151 -3.366748  0.258651  0.941587
85 -3.065568 -0.129087 -0.255740 -0.398759
86  0.579472 -1.003404 -2.773311  1.490172
87  8.520847 -5.992067 -6.476718  0.886232

**test:**
- Extract test features
- Only the selected features from the train data are extracted

In [19]:
X_test_filtered = extract_features(df_test, column_id = "id", column_sort="time",
                                    kind_to_fc_parameters = settings.from_columns(X_train_filtered.columns),
                                    impute_function=impute)

Feature Extraction: 100%|██████████| 12/12 [00:02<00:00,  5.23it/s]

In [20]:
X_test_filtered

    F_x__absolute_maximum  F_x__maximum  ...  T_z__standard_deviation  T_z__variance
87                  342.0         342.0  ...                 9.903983      98.088889
88                   13.0          -6.0  ...                 0.884433       0.782222

[2 rows x 36 columns]

PCA on test features:

In [21]:
X_test_pca = pca_train.transform(X_test_filtered)

In [22]:
X_test_pca.index = [87,88]

In [23]:
X_test_pca

       pca_0     pca_1     pca_2     pca_3
87  8.520847 -5.992067 -6.476718  0.886232
88 -3.246681 -0.023826 -0.028257 -0.696021